.comment-text {
    white-space: pre-wrap; /* Uzun metinlerin alt satıra geçmesini sağlar */
    word-wrap: break-word; /* Uzun kelimelerin satır sonunda kırılmasını sağlar */
}
.company-name {
    margin: 0; /* Başlık etrafındaki varsayılan boşlukları kaldırır */
}