#sidebar {
  width: 250px;
  height: 100vh;
  background-color: #343a40;
  color: white;
  position:sticky;
  top: 0;
  left: 0;
  
  padding-top: 20px;
}

.sidebar-nav {
  list-style: none;
  padding-left: 0;
 
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.nav-link:hover {
  background-color: #495057;
  border-radius: 5px;
}

.nav-link i {
  margin-right: 10px;
}

.nav-content {
  padding-left: 20px;
}

.nav-heading {
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 15px;
  color: #ced4da;
}
